amqp==2.2.2
blinker==1.4
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-SQLAlchemy==2.3.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
Kuyruk==8.5.1
MarkupSafe==1.0
monotonic==1.4
MySQL-python==1.2.5
pycparser==2.18
rabbitmq==0.2.0
requests==2.18.4
setproctitle==1.1.10
six==1.11.0
SQLAlchemy==1.2.2
urllib3==1.22
vine==1.1.4
Werkzeug==0.14.1
